<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
	<menuitem name="event-root" title="Event" icon-background="green" />

	<menuitem name="event-root-event" parent="event-root" title="Event" action="event-root-event.view.event" />

	<action-view name="event-root-event.view.event" title="Event" model="com.axelor.event.db.Event">
		<view type="grid" name="event-grid" />
		<view type="form" name="event-form" />
		<view type="cards" name="event-card"/>
		<view type="calendar" name="event-my-calender"/>
	</action-view>
	<menuitem name="event-root-eventregistration" parent="event-root" title="Event Registration" action="event-root-event.view.eventregistration" />

	<action-view name="event-root-event.view.eventregistration" title="Event Registration" model="com.axelor.event.db.EventRegistration">
		<view type="grid" name="eventRegistration-grid" />
		<view type="form" name="eventRegistration-form" />
		
	</action-view>

	<menuitem name="event-root-address" parent="event-root" title="Address" action="event-root-event.view.address"/>

	<action-view name="event-root-event.view.address" title="Address" model="com.axelor.event.db.Address">
		<view type="grid" name="address-grid" />
		<view type="form" name="address-form" />
	</action-view>

	<menuitem name="event-root-discount" parent="event-root" title="Discount"
		action="event-root-event.view.discount" />

	<action-view name="event-root-event.view.discount" title="Discount" model="com.axelor.event.db.Discount">
		<view type="grid" name="discount-grid" />
		<view type="form" name="discount-form" />
	</action-view>
</object-views>